<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Homepage</title>
</head>
<body>
    <h1>Rhogiel's Portfolio</h1>

    {% load static %}

    <img src="{% static 'portfolio/andoy.jpg' %}">
    <br>
    <a href="{% static 'portfolio/RHOGIEL V. ANDOY.pdf' %}" target="_blank">Resume</a>

    {% for project in projects %}
    <h2>{{ project.title }}</h2>
    <p>{{ project.desc }}</p>
    <img src="{{ project.image.url }}" alt="{{ project.title }}">
    {% if project.url %}
    <br>
    <a href="{{ project.url }}">Link</a>
    {% endif %}
    {% endfor %}

</body>
</html>