{% extends 'portfolio/base.html' %}

{% block content %}
    {% load static %}
    <style>
        .img-profile{
            border-radius: 50%;
            width: 250px;
            border: 5px solid #555;
        }
        .img-projects{
            width: 100%;
            height: 200px;
        }
    </style>

    <div class="text-center">
        <br>
        <h1>Rhogiel's Portfolio</h1>
        <br>
        <img src="{% static 'portfolio/andoy.jpg' %}" class="img-profile">
        <br>
        <br>
        <p><strong><i>DBA | System and Web Developer</i></strong></p>
    </div>
    <br>
    <br>
    <div class="container">
        <div class="row">
            {% for project in projects %}
            <div class="col-lg-4 mb-4">
                <div class="card shadow" style="width: 18rem;">
                    <img src="{{ project.image.url }}" alt="{{ project.title }}" class="img-projects">
                    <div class="card-body">
                        <h5 class="card-title">{{ project.title }}</h5>
                        <p class="card-text">{{ project.desc }}</p>
                        {% if project.url %}
                        <br>
                        <a href="{{ project.url }}" class="btn btn-primary">Go to Project</a>
                        {% endif %}
                    </div>
                </div>
                <br>
                <br>
            </div>
            {% endfor %}
        </div>
    </div>


{% endblock %}
